.nav-item{
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}
.nav-link:hover{
    color: #38608F;
    ;
}
.create-btn{
    background-color: #38608F;
    color: white;
}
.create-btn:hover{
    background-color: #2B4C7E;
    color: white;
    scale: 1.1;
    transition: ease-in-out 0.3s;
}
.dropdown-item:hover{
    background-color: #38608F;
    color: white;
}